
@media (min-width: 1000px) {
    body {
        min-width: 1000px;
        max-width: 1000px;
    }
    header {
        max-width: 1000px;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        border-right: 1px solid #999;
    }
    .body_div {
        border-right: 1px solid #999;
        border-left: 1px solid #999;
    }
    .h_20 {
        height: 20vh !important;
    }
}

html {
    font-family: 'IBM Plex Sans KR', sans-serif;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


html {
    height: 100%;
}
body {
    margin: 0 auto !important;
    height: 100%;
    background-color: white;
}
header {
    position: fixed;
    top: 0;
    height: 53px;
    width: 100%;
    background-color: white;
    z-index: 100;
}
.header_div {
    display: flex;
    padding: 0 10px;
    height: 100%;
    align-items: center;
}
.header_div > svg {
    padding: 5px;
}
.header_div > svg:hover {
    background-color: #333;
    padding: 5px;
    color: white;
    border-radius: 5rem;
    cursor: pointer;
}
.body_div {
    margin-top: 53px;
    width: 100%;
    height: 100%;
}
.flex_column {
    display: flex;
    flex-direction: column;
}
.name {
    font-size: 18px;
    font-weight: 800;
}
.subname {
    font-size: 12px;
}
.ml15 {
    margin-left: 15px;
}
.profile {
    height: 30vh;
    position: relative;
}
.profile_back {
    width: 100%;
    height: 100%;
    /* border-radius: 1rem; */
    background-color: #00d6fa;
}
.profile_img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 5rem;
    border: 5px solid white;
    left: 25px;
    bottom: -75px;
    overflow: hidden;
}
.profile_img > img {
    width: 100%;
    height: 100%;
}
.profile_name {
    position: relative;
    top: 75px;
    left: 30px;
}
.profile_name > span.name {
    font-weight: 900 !important;
    font-size: 22px;
}
.profile_name > span.subname:hover {
    cursor: pointer;
}
.profile_name > span.subname {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    width: 15%;
}
a {
    color: black;
    text-decoration: none;
}

.info_div {
    display: flex;
    justify-content: start;
    margin-top: 15px;
}

.info_div > span { 
    padding-right: 10px;
}

.info {
    color: #777;
    font-weight: 600;
}

.hr_div {
    color: #999;
    height: 1px;
    width: 100%;
}

.body_main {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.h_20 {
    height: 25%;
}